#ntui1{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui2{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui3{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui4{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui5{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui6{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui7{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui8{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui9{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui10{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui11{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui12{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui13{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntui14{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui15{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntui16{
	position: fixed;
	top: 20%;
	left: 38%;
}



#ntuc1{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc2{
	position: fixed;
	top: 10%;
	left: 37%;
}

#ntuc3{
	position: fixed;
	top: 10%;
	left: 37%;
}

#ntuc4{
	position: fixed;
	top: 10%;
	left: 37%;
}

#ntuc5{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc6{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc7{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc8{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc9{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc10{
	position: fixed;
	top: 15%;
	left: 28%;
}

#ntuc11{
	position: fixed;
	top: 15%;
	left: 28%;
}

#ntuc12{
	position: fixed;
	top: 15%;
	left: 28%;
}

#ntuc13{
	position: fixed;
	top: 15%;
	left: 28%;
}

#ntuc14{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc15{
	position: fixed;
	top: 15%;
	left: 28%;
}
#ntuc16{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuc17{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuc18{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuc19{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuc20{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuc21{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuc22{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuc23{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuc24{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuc25{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuc26{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntul1{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntul2{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntul3{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntul4{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntul5{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntul6{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntul7{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf1{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuf2{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf3{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf4{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf5{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf6{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuf7{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuf8{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuf9{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuf10{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf11{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf12{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf13{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntuf14{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntuf15{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue1{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntue2{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue3{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue4{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue5{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue6{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntue7{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntue8{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntue9{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntue10{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue11{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue12{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue13{
	position: fixed;
	top: 20%;
	left: 38%;
}

#ntue14{
	position: fixed;
	top: 20%;
	left: 38%;
}
#ntue15{
	position: fixed;
	top: 20%;
	left: 38%;
}